.header {
  @apply py-7
  px-4
  bg-white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
}

.header h1 {
  @apply text-sm
  font-bold
  md:text-2xl;
}
.header button {
  @apply text-xs
  font-semibold
  md:text-base;
}

.header-content {
  @apply flex
  justify-between;
}

.switch {
  @apply flex
  gap-2
  items-center;
}

.header.dark {
  @apply dark:bg-tuna
  dark:text-white transition-all;
}
