<div class="content-button">
  <button [routerLink]="['']" class="btn">
    <i class="icon-arrow-left"></i>
    <span>Back</span>
  </button>
</div>

<section class="country" *ngIf="isLoading && isError">
  <h1>Whoops. cannot get country</h1>
</section>

<section class="country" *ngIf="isLoading && !isError">
  <h1>Loading...</h1>
</section>

<section *ngIf="!isLoading && !isError && country" class="country">
  <div class="cover">
    <img [src]="country.flags?.svg" alt="" />
  </div>
  <div class="description">
    <h2 class="title">
      {{ country.name?.common }}
    </h2>
    <div class="country-details">
      <ul>
        <li class="flex-ellipsis">
          <strong>native name: </strong>
          <span>{{ deepInObj(country.name?.nativeName) }}</span>
        </li>
        <li>
          <strong>population: </strong>
          <span>{{ country.population | number }}</span>
        </li>
        <li>
          <strong>region: </strong>
          <span>{{ country.region | undefinedProps: "region not found" }}</span>
        </li>
        <li>
          <strong>sub region: </strong>
          <span>{{
            country.subregion | undefinedProps: "subregion not found"
          }}</span>
        </li>
        <li>
          <strong>capital: </strong>
          <span>{{
            country.capital | undefinedProps: "capital not found"
          }}</span>
        </li>
      </ul>
      <ul>
        <li>
          <strong>top level domain </strong>
          <span>{{ country.tld | undefinedProps: "Not found" }}</span>
        </li>
        <li>
          <strong>currencies: </strong>
          <span>{{ deepInObj(country.currencies) }}</span>
        </li>
        <li>
          <strong>languages: </strong>
          <span>{{ deepInObj(country.languages) }}</span>
        </li>
      </ul>
    </div>
    <div *ngIf="country.borders!.length > 0" class="borders">
      <h3>
        <strong>Border Countries:</strong>
      </h3>
      <ul>
        <li
          class="item"
          [routerLink]="['/country', border]"
          *ngFor="let border of country.borders"
        >
          {{ border }}
        </li>
      </ul>
    </div>
  </div>
</section>
