.btn {
  @apply flex
  items-center
  gap-2
  py-2 px-6
bg-white
  rounded-md
  active:scale-95;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.104931);
}

.content-button {
  @apply pt-10
  pb-16;
}

.country-details {
  @apply grid
  gap-y-8
  mt-4
  md:text-xl
  lg:grid-cols-2
  lg:gap-x-10;
}

.title {
  @apply text-xl
  md:text-4xl
  font-extrabold;
}

.cover {
  @apply max-w-[35rem] max-h-[25rem];
}

.cover img {
  @apply object-cover
  w-full
  h-full;
}

.country {
  @apply grid
  gap-y-11
  place-items-center
  lg:grid-cols-2
  lg:place-items-stretch;
}

.flex-ellipsis {
  @apply md:text-ellipsis
  md:whitespace-nowrap
  md:overflow-hidden;
}

.borders {
  @apply lg:flex
  items-center
  gap-4;
}

.borders h3 {
  @apply md:text-xl;
}
.borders ul {
  @apply flex
  gap-3
  flex-wrap
  py-4;
}

.borders li {
  @apply py-2
  px-7
  cursor-pointer
  rounded-sm;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.104931);
}
