.filter-section {
  @apply flex
  flex-col
  gap-10
  mb-8
  mt-6
  md:flex-row
  md:justify-between;
}

.countries-grid {
  @apply grid
  grid-cols-1
  gap-y-10
  md:gap-x-[4.6875rem]
  md:gap-y-[4.6875rem]
  md:grid-cols-4;
}

.countries-grid article {
  @apply outline;
}
body {
  background: red;
}
