<div class="filter-section">
  <search
    class="flex-1"
    placeholder="Search for country"
    ariaLabel="Search any Country around the world"
    (onSearchCountry)="onFilter($event)"
  ></search>
  <dropdown (onSearchByRegion)="onFilterRegion($event)"></dropdown>
</div>

<div *ngIf="isError">
  <p>Whoops cannot get countries</p>
</div>

<div *ngIf="isLoading">
  <p>Loading ...</p>
</div>

<div *ngIf="!isLoading && countriesSearched.length <= 0">
  <p>Countries not found :(</p>
</div>

<div *ngIf="!isLoading && countriesSearched.length > 0" class="countries-grid">
  <country-card
    *ngFor="let country of countries"
    [country]="country"
  ></country-card>
</div>
