@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  @apply max-w-[80rem]
  mx-auto;
}
body {
  @apply font-nunito bg-light-bg transition-all;
}
.c-ellipsis {
  @apply text-ellipsis
  whitespace-nowrap
  overflow-hidden;
}

body .dark {
  @apply bg-light-bg dark:bg-charade;
}

.dark button.dropdown-button {
  @apply dark:bg-tuna text-white;
}

.dark ul.dropdown-options {
  @apply dark:bg-tuna text-white;
}

.dark article.country-card {
  @apply dark:bg-tuna text-white;
}

.dark form.form {
  @apply dark:bg-tuna text-white;
}

.dark from.form input {
  @apply dark:bg-tuna text-white placeholder:text-white;
}

.dark button.btn {
  @apply dark:bg-tuna text-white;
}

.dark section.country {
  @apply min-h-[28.125rem]
  lg:overflow-hidden
  dark:text-white
  lg:pb-[122px];
}
